<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
  <display-name>q2library</display-name>
  <servlet>
    <servlet-name>UserUI</servlet-name>
    <servlet-class>cn.library.user.web.UI.UserUI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUI</servlet-name>
    <servlet-class>cn.library.admin.book.web.AdminUI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.library.admin.book.web.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InformServlet</servlet-name>
    <servlet-class>cn.library.admin.inform.web.InformServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>cn.library.admin.feedback.web.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>cn.library.admin.account.web.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserPageServlet</servlet-name>
    <servlet-class>cn.library.user.web.controller.UserPageServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>UserUI</servlet-name>
    <url-pattern>/UserUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUI</servlet-name>
    <url-pattern>/admin/AdminUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/admin/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformServlet</servlet-name>
    <url-pattern>/admin/InformServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/admin/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/admin/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPageServlet</servlet-name>
    <url-pattern>/UserPageServlet</url-pattern>
  </servlet-mapping>
  
  	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/errors/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/error.jsp</location>
	</error-page>
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>AdminFilter</filter-name>
  	<filter-class>cn.library.user.web.controller.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>